body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  margin-top: 0px;
  font-size: 18px;
}


a:hover {
  background-color: rgb(80, 143, 149);
}

a {
  text-decoration: none;
}

.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #02353C; 
}

/*
@media screen and (min-width: 320px) and (max-width: 768px)  {
  .sidebar {
    background-color: rgb(188, 213, 79);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .sidebar {
    background-color: rgb(92, 194, 228);
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    background-color: aqua;
  }  
}
*/

.sidebar-item {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 1.5em;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 5px;
}

.name {
  font-size: 20px;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: #3b454e 1px solid;
}
.sidebar-nav-item {
  display: block;
  text-align: center;
  padding: 5px;
  color: white;
}

.main {
  margin-left: 240px;
}

.main-head {
  display: block;
  border-bottom: solid 1px rgb(221, 219, 219);
  border-left: solid 1x white;
  background-color: #02353C;
}

.header-text {
  margin-left: 65px;
  padding-top: 10px;
  color:rgb(187, 190, 192)
}

.main-body {
  display: block;
}

.blog-title {
  font-size: 32px;
  line-height: 1.6;
  font-weight: 500;
  margin-left: 100px;
  margin-top: 40px;
  color: black;
}

.blog-box {
  
}

.main-para {
  font-size:16px;
  line-height: 1.5;
  margin-left: 100px;
  color: #3b454e;
}
.heading2 {
  font-size:24px;
  line-height: 1.5;
  margin-left: 100px
}

.blog-image {
  margin-left: 100px;
  padding-left: 100px;
  display: block;
  padding-bottom: 2px;
}




