body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --main-left-margin: 100px;
}

p {
  margin-top: 0px;
  font-size: 18px;
}

a:hover {
  background-color: rgb(80, 143, 149);
}

button:hover {
  background-color: rgb(80, 143, 149);
}

a {
  text-decoration: none;
}

.sidebar {
  width: 240px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #02353C; 
}

/*
@media screen and (min-width: 320px) and (max-width: 768px)  {
  .sidebar {
    background-color: rgb(188, 213, 79);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .sidebar {
    background-color: rgb(92, 194, 228);
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    background-color: aqua;
  }  
}
*/

.sidebar-item {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 1.5em;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 5px;
}

.name {
  font-size: 20px;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: #3b454e 1px solid;
}
.sidebar-nav-item {
  display: block;
  text-align: center;
  padding: 5px;
  color: white;
}

.main {
  margin-left: 240px;
}

.main-head {
  display: block;
  border-bottom: solid 1px rgb(221, 219, 219);
  border-left: solid 1x white;
  background-color: #02353C;
}

.header-text {
  margin-left: var(--main-left-margin);
  padding-top: 10px;
  color:rgb(187, 190, 192)
}

.main-body {
  display: block;
}

.blog-title {
  font-size: 32px;
  line-height: 1.6;
  font-weight: 500;
  margin-left: var(--main-left-margin);
  margin-top: 40px;
  color: black;
}

.main-para {
  font-size:16px;
  line-height: 1.5;
  margin-left: var(--main-left-margin);
  color: #3b454e;
}
.heading2 {
  font-size:24px;
  line-height: 1.5;
  margin-left: var(--main-left-margin);
}

.blog-image {
  margin-left: var(--main-left-margin);
  padding-left: 100px;
  display: block;
  padding-bottom: 2px;
}

.about-career, .about-outdoor {
  margin-left: var(--main-left-margin);
  display: flex;
  align-items: flex-start;
}

.about-image {
  width: 250px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.about-para {
  font-size:16px;
  line-height: 1.5;
  margin-left: 50px;
  color: #3b454e;
  font-size:16px;
  display: block;
}
/*menu button start*/
.menu-button {
  position: absolute;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
  left: 95%;
  top: 0.5rem;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: #818686;
}

.menu-icon {
  width: 28px;
  height: 5px;
  background-color: rgb(108, 191, 158);
  margin: 4px 0px;
  border-radius: 5px;
}

.sidebar-small {
  left: -240px;
}

.main-large {
  margin-left: 0px;
}

/*menu button end*/
